@import "variables";
@import "colores";
@import "tipografia";

.gradient{
    background:linear-gradient(to top,white,grey);
    height: 100vh;
}
.homeflex{
    display: flex;
    justify-content: center;
}
.homeflex .item{
    font-family: 'Kufam', cursive;
    background-color: white;
    color: black;
    width: 25vh;
    text-align: center;
}
h1.animado{
    transform: skewY(5deg);
    width: 250px;
    height: auto;
}
h1{
font-family: 'Kufam', cursive;
color: #E50A33;
left: 750px;
position: relative;
border: 1px solid black;
width: 270px;
text-align: center;
background-color: white;
}
label {
    color: black;
}
form{
    border: 3px solid black;
    border-style: groove;
    width: 500px;
    position: relative;
    padding: 5px;
    margin: 10px;
}
.boton{
    background-color: gray;
    transition: width 2s;
    height: auto;
    width: 200px;
}
.boton:hover{
    width: 250px;
    background-color: white;
}
html{
}
.body {
background-image: url(../imagenes/ski.jpg)
}
ul{
list-style: square inside
url("https://mdn.mozillademos.org/files/11981/starsolid.gif")
}
.estilo1{
font-family: 'Open Sans', sans-serif;
color: #D74B4B;
}
.estilo2{
font-family: 'Open Sans', sans-serif;
}
li {
    color: #FFFFFF
}
.transicion{
    transition: height 5s, width 1s;
    width: 200px;
    height: 100px;
    cursor: pointer; 
}
.transicion:hover{
    width: 200px;
    height: 200px;
    transform: skewX(5deg)
    }
.btn{
    color: black;
}
.btn_btn1{
    text-transform: uppercase;
    background-color: #D0ADAD;
    width: 15vh;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

.btn_btn2{
    text-transform: uppercase;
    background-color: white;
    width: 15vh;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}
.btn_btn3{
    text-transform: uppercase;
    background-color: #757070;
    width: 15vh;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}
.btn_btn4{
        text-transform: uppercase;
    background-color: #EE9494;
    width: 15vh;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}
.grid2{
	display: grid;
	width: 100%;
	background:linear-gradient(to left,white,black);
    height: 14vh;
    border: 1px solid black;
  }
  .botones{
    position:relative; 
    left: 20vh;
    margin: 50px;
 }
 .gainz{
    display: flex;
    flex-wrap: row;
    justify-content: center;
    }
 .alineacion{ 
        text-align: left;
        margin: 15px;
        position: relative;
        left: 35vh;
        width: 35vh;
         border: solid black 2px;
         background-color: #FFFFFF;
        }
ol{
    position: relative;
    margin: 10vh;
}
.formu{
    color: black;
    position: relative;
    left: 450px;
}
footer{
	background:linear-gradient(to left,white,black);
	width: 100%;
	height: 20vh;

}
.contentflex{
    display: flex;
    width: 100%;
    justify-content:start;	 		
}
.contentflex .item{
    width: 25vh;
    text-align: center;
    margin: 65px;
    border: 4px black;
    border-style: double;
    color: white;
    border-radius: 15px;
    font-size: medium;
}
.logos{
    height: 40px;
    width: 40px;
    margin: 55px;
}


