html {
}
body{
}
.body{
	background-image: url("imagenes/fondo.jpg");
	width: 100%;
}
.burbuja{
	width: 110px;
	border-radius: 40%;
	height: 300px;
	background:black;

	position: absolute;
	bottom: 0;
	left: 5%;
	animation: burbujas 3s linear infinite;
}
.burbuja:nth-child(1){
	width: 18px;
	height: 18px;
left: 5%;
animation-duration: 3s;
}
.burbuja:nth-child(2){
	width: 18px;
		height: 18px;
left: 5%;
animation-duration: 3s;
}
.burbuja:nth-child(3){
	width: 18px;
	height: 18px;
left: 10%;
animation-duration: 3s;
}
.burbuja:nth-child(4){
	width: 18px;
	height: 18px;
	left: 15%;
	animation-duration: 2s;
	}
.burbuja:nth-child(5){
	width: 18px;
	height: 18px;
		left: 20%;
		animation-duration: 3s;
		}
.burbuja:nth-child(6){
	width: 18px;
								height: 18px;
			left: 25%;
			animation-duration: 2s;
			}
.burbuja:nth-child(7){
	width: 18px;
	height: 18px;
				left: 30%;
				animation-duration: 4s;
				}
.burbuja:nth-child(8){
	width: 18px;
	height: 18px;
left: 35%;
animation-duration: 5s;
		}
.burbuja:nth-child(9){
	width: 18px;
								height: 18px;
left: 40%;
animation-duration: 1s;
}
.burbuja:nth-child(10){
	width: 18px;
								height: 18px;
left: 45%;
animation-duration: 4s;
}
.burbuja:nth-child(11){
	width: 18px;
	height: 18px;
left: 50%;
animation-duration: 7s;
}
.burbuja:nth-child(12){
	width: 18px;
								height: 18px;
left: 60%;
animation-duration: 1s;
}
.burbuja:nth-child(13){
	width: 18px;
								height: 18px;
	left: 70%;
	animation-duration: 6s;
	}

	.burbuja:nth-child(14){
		width: 18px;
								height: 18px;
		left: 75%;
		animation-duration: 7s;
		}

		.burbuja:nth-child(15){
			width: 18px;
								height: 18px;
			left: 80%;
			animation-duration: 2s;
			}
			.burbuja:nth-child(16){
				width: 18px;
								height: 18px;
				left: 85%;
				animation-duration: 9s;
				}
				.burbuja:nth-child(17){
					width: 18px;
						height: 18px;
					left: 90%;
					animation-duration: 4s;
					}
					.burbuja:nth-child(18){
						width: 18px;
								height: 18px;
						left: 95%;
						animation-duration: 2s;
						}
											
						.burbuja:nth-child(19){
							width: 18px;
								height: 18px;
							left: 97%;
							animation-duration: 4s;
							}
							.burbuja:nth-child(20){
								width: 18px;
								height: 18px;
								left: 94%;
								animation-duration: 1s;
								}
								.burbuja:nth-child(21){
									width: 18px;
										height: 18px;
									left: 2%;
									animation-duration: 7s;
									}
									.burbuja:nth-child(22){
										width: 18px;
										height: 18px;
										left: 4%;
										animation-duration: 2s;		
										}		
										.burbuja:nth-child(23){
											width: 18px;
													height: 18px;
											left: 3%;
											animation-duration: 2s;
											}		
											.burbuja:nth-child(24){
												width: 18px;
													height: 18px;
												left: 6%;
												animation-duration: 4s;
												}
												.burbuja:nth-child(25){
													width: 18px;
													height: 18px;
													left: 10%;
													animation-duration: 1s;
													}
													.burbuja:nth-child(26){
														width: 18px;
															height: 18px;
														left: 9%;
														animation-duration: 7s;
														}
														.burbuja:nth-child(27){
															width: 18px;
															height: 18px;
															left: 94%;
															animation-duration: 2s;
															}		
															.burbuja:nth-child(28){
																width: 18px;
																	height: 18px;
																left: 96%;
																animation-duration: 4s;
																}
																.burbuja:nth-child(29){
																	width: 18px;
																	height: 18px;
																	left: 57%;
																	animation-duration: 1s;
																	}
																	.burbuja:nth-child(30){
																		width: 18px;
																			height: 18px;
																		left: 58%;
																		animation-duration: 7s;
																		}
																		.burbuja:nth-child(31){
																			width: 18px;
																			height: 18px;
																			left: 64%;
																			animation-duration: 2s;
																			}														
																												
												

@keyframes burbujas{
	0%{
		bottom: 0;
		opacity: 6;
	}
	25%{
		opacity: .4;
	}
	50%{
		opacity: .2;
	}
	65%{
		opacity: .1;
		 } 
	80%{
		opacity: .0;
	}
	100%{
		bottom: 100vh;
		opacity: 0;
	}
}
.grid2{
	display: grid;
	width: 100%;
	background:linear-gradient(to left,white,black);
	height: 14vh;
	border: 1px solid;
  }
  .hr{
	  color: black;
	position: relative;
	width: 100%;
	height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  }
 .logos{
	 height: 40px;
	 width: 40px;
	 margin: 55px;
 }
.alineacion{ 
text-align: left;
margin: 15px;
position: relative;
left: 35vh;
width: 35vh;
 border: solid black 2px;
 background-color: #FFFFFF;
}
.carrousel{
	position: relative;
	left: 350px;
	margin: 150px;
	width: 100vh;
	box-shadow: 40px 70px 100px rgba(0,0,0,0.50);
	border: 7px solid black;
	border-style: outset;
}
.a {
 color:black;
 text-align: center;
  }
.p{
	font-family: 'Kufam', cursive; 
	color: white;
	width: 900px;
}
.gradient{
	background:linear-gradient(to top,#0FCFB6,#000000);
	height: auto;
	width: 2700px;
	}
	.contenedorflex{
	}
	.contentflex{
		display: flex;
		width: 100%;
		justify-content:start;	 		
	}
	.contentflex .item{
		width: 25vh;
		text-align: center;
		margin: 65px;
		border: 4px black;
		border-style: double;
		color: white;
		border-radius: 15px;
		font-size: medium;
	}
	.botones{
		position:relative; 
		left: 20vh;
		margin: 50px;
	 }
.contenedorimagen{
	display: flex;
	justify-content: center;
	width: 200vh;
}
.imagenes{
	box-shadow: 0px 15px 25px rgba(0,0,0,0.50); 
	margin: 5vh;
	padding: auto;
	border: 2px solid black;
}
p.numero{
	color: white;
	width: 50vh;
}
.gainz{
display: flex;
flex-wrap: row;
justify-content: center;
}
.hijoh1{
	position: relative;
	text-align: center;
	left: 25%;
	margin: 15px;
	color: black;
	width: 95vh;
	}
	.imagheader{
		position: relative;
		left: 50vh;
	}
.tamaño{
	width:21vh;
	height:auto;
	border: 1px solid black;
	position: relative;
	left: 92vh;
	box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
}
footer{
	background:linear-gradient(to left,white,black);
	width: 100%;
	height: 20vh;

}
/* --------------MEDIA QUERIE-------------------- */

@media only screen and (max-width: 480px) {
	.grid2{
		width: 100%;
		height: 95vh;
	}
	.gainz{
		position: relative;
		left: 1vh;
	}
	.container{
		position: relative;
		left: 1vh;
	}
.tamaño{
	position: relative;
	left: 55vh;
}
.alineacion{
	position: relative;
	bottom: 80px;
	margin:30px;
	top: 15px;
	left: 5px;
	width: 350px;
	height: 8vh;
}
.contenedorimagen{
	display: flex;
	flex-direction: column;
	width: 200vh;
	position: relative;
	left: 10vh;
}
.query{
	margin: 1vh;
	display: flex;
	flex-direction: column;
	width: 330px;
}
.hijoh1{
	position: relative;
	left: 102px;
	top: 5px;
	width: 35vh;
	height: 5vh;
	text-align: center;
}
.gainz{
	height: 100px;
	position: relative;
	left: 100px;
}
.contenedorflex.item{
	position: relative;
left: 1vh;
justify-content: left;


}
.carrousel{
	position: relative;
	left: 60px;
	width: 57vh;
	bottom: 45px;
	height: 32vh;
	margin: 1px;
	border: 2px solid black;
}
.contenedorflex{  
	justify-content: left;
position: relative;
left: 1vh;
}      
footer{
	position: relative;
	width: 100%;
	height: 84vh;
}   
.contentflex{
	display: flex;
	flex-direction: column;
	width: 35%;
	height: 20vh;	 		
}

.contentflex .item{
	position: relative;
	width: 15vh;
	text-align: center;
	margin: 15px;
	left:170px;
	height: 10vh;
	border: 4px black;
	border-style: double;
	color: white;
	font-size: medium;
}
.logos{
	position: relative;
	margin: 2vh;
	left: 210px;
}
.burbuja{
	width: 10px;
	border-radius: 40%;
	height: 50vh;
	background:black;
	position: relative;
	bottom: 402px;
	left: 1%;
	animation: burbujas 3s linear infinite;
}
.burbujas{
	position: relative;
	top: 350px;
}
 }